#colorBody {
  background-color: rgb(0, 0, 0);
}

p {
  font-family: 'Gobold', sans-serif;
  font-size: 1.5rem;
  position: relative;
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: justify;
  color: white;
  
}
.imgNosotros {
  position: absolute;
  opacity: 0.5;
  width: 79rem;
}

.imgNosotrosCel {
  display: none;
}

@media screen and (max-width: 768px) {
  .imgNosotros {
    display: none;
  }
  .imgNosotrosCel {
    display: block;
    position: absolute;
    opacity: 0.5;
    width: 25rem;
  }
  .flexImgCel {
    display: flex;
    justify-content: center;
  }
}
