#articleCross {
  p {
    color: rgb(255, 255, 255);
    font-family: 'Gobold', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
  }

  h3 {
    color: rgb(255, 255, 255);
    font-family: 'Gobold CUTS', sans-serif;
    font-size: 3rem;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    margin-left: 1rem;
  }

  h4 {
    color: rgb(255, 255, 255);
    font-family: 'Gobold', sans-serif;
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    margin-left: 1rem;
    font-style: italic;
  }
}

@media screen and (max-width: 768px) {
  #articleCross {
    text-align: center;
  }
}

.flexMap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  background-image: linear-gradient(black, white, black);

  img {
    width: 25rem;
    transition: 0.5s;
  }
  img:hover{
    
    width: 26rem;
    filter: drop-shadow(15rem 50px 100px rgb(255, 255, 255));
    
  }
  
}
@media screen and (max-width: 992px) {
  .flexMap {
    img{
      width: 22rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .flexMap {
    flex-direction: column;
  }
}

.underline {
  text-decoration: underline;
}

