.imgGallery {
  display: grid;

  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);

  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  img {
    width: 18rem;
    
    cursor: pointer;
  }
}

.imgGalleryVertical {
  display: grid;

  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 5rem;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  img {
    width: 10rem;
    
    cursor: pointer;
  }
}
@media screen and (max-width: 992px) {
  .imgGallery {
    grid-template-columns: repeat(2, 1fr);

    grid-template-rows: repeat(6, 1fr);
    img {
      width: 20rem;
    }
  }
  .imgGalleryVertical {
    grid-template-columns: repeat(2, 1fr);

    grid-template-rows: repeat(5, 1fr);
    
  }
}

@media screen and (max-width: 768px) {
  .imgGallery {
    grid-template-columns: repeat(1, 1fr);

    grid-template-rows: repeat(12, 1fr);
    img {
      width: 20rem;
    }
  }
  .imgGalleryVertical {
    grid-template-columns: repeat(2, 1fr);

    grid-template-rows: repeat(5, 1fr);
    
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


/* Create four equal columns that sits next to each other */
