
.imgPrincipal {
    margin: auto;
    display: flex;
    width: 50rem;  
    margin-top: 2rem;  
}

@media screen and (max-width: 600px){
    .imgPrincipal {
        width: 30rem;
    }
}

.imgHome {
    
    width: 20rem;
    border-radius: 1rem;
    position: relative;  
}

.imgHome2 {
    width: 30rem;
    position: relative;
}

.flex1 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;  
}

@media screen and (max-width: 700px){
    .flex1 {
        flex-direction: column;
    }
}

.flexFotos {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 2rem;

    img {
        width: 18rem;
    }
}

@media screen and (max-width: 700px){
    .flexFotos {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
}

section {
  
  margin-bottom: 3rem;  
}

.noa {
    position: absolute;
    opacity: 0.2;
    width: 70rem;
    height: 51rem;  
}

@media screen and (max-width: 700px){
    .noa{
        display: none;
    } 
}

.flexNoa {
    display: flex;
    justify-content: center;
}