

.imgPrincipal {
    display: flex;
    justify-content: center;  
   border-right: solid 4rem black;
   border-left: solid 4rem black;

   img {
    border-radius: 1rem;
   }
}

.imgHome {
    
    width: 25rem;
    border-radius: 1rem;
    
    
}



.flex1 {
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
   
}

.flexFotos {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 2rem;


    img {
        width: 18rem;
    }
}

section {
  
  margin-bottom: 3rem;
    
}