

.imgPrincipal {
    margin: auto;
    display: flex;
    width: 50rem;  
    margin-top: 2rem;
    
}



.imgHome {
    
    width: 20rem;
    border-radius: 1rem;
    position: relative;
    
    
}

.imgHome2 {
    width: 30rem;
    position: relative;
}

.flex1 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
   
    
   
}

.recorridos{
    position: relative;
}

.flexFotos {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 2rem;


    img {
        width: 18rem;
    }
}

section {
  
  margin-bottom: 3rem;
    
}

.noa {
    position: absolute;
    opacity: 0.2;
    width: 70rem;
    height: 51rem;
    
}

.flexNoa {
    display: flex;
    justify-content: center;
}