

@media screen and (max-width: 600px){
    .navLabel {
        display: block;
        cursor: pointer;
        img{
            width: 5rem;
        }
    }

    .nav_menu {

        flex-direction: column;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        align-items: center;
        transition: clip-path 1s;
      

    }

  

    .navMenu {
        display: flex;
        flex-direction: column;
        gap: 2rem;

    }   
    

    
   
    
}
