.navLabel, .navInput {
    display: none;
}
.nav_menu {
    display: flex;
    gap:2rem;
}

@media screen and (max-width: 600px){
    .navLabel {
        display: block;
        cursor: pointer;
        img{
            width: 5rem;
        }
    }

    .nav_menu {

        flex-direction: column;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        align-items: center;
        transition: clip-path 1s;
      

    }

    .navInput:checked + .nav_menu {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }
    .logoPrincipal {
        width: 20rem;
    }

    .navMenu {
        display: flex;
        flex-direction: column;
        gap: 2rem;

    }   
    
    .lang {
        flex-direction: row;
        justify-content: center;
        display: none;
        
        
    }
    
   
    
}
