.tour {
  display: flex;
  justify-content: center;

  img {
    margin-bottom: 2rem;
    width: 70rem;
  }
}

@media screen and (max-width: 700px) {
  .tour {
    img {
      width: 25rem;
    }
  }
}
